html,
body{
  height: 100vh;
}

body {
  font-family: sans-serif;
}

.hide {
  display: none;
  visibility: hidden;
}

@media (orientation: landscape) {
  .background-img img {
    /* horizontal */
    height: 100%;
    display: block;
    margin: auto;
  }
  .center-screen {
    top: 50% !important;
  }
}
/* desktop */
@media (min-width:1025px) {
  .background-img img {
    /* width: 100%; */
  }
}
@media (orientation: portrait) {
  .background-img img {
     width: 100%;
  }
  .center-screen {
    top: 20% !important;
  }
}

.center-screen {
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

/* #onboarding, */
#scenario1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


/* MENU  */

#menu {
  color: #ffffff;
  width: 68%;
}
#menu #tns1-iw {
  margin-top: 115px;
}
#menu .menu-item {
  height: 100px;
  margin: 15px 0;
}
#menu .menu-item img {
  height: 100%;
}
#menu .center {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  transform-origin: left;
  /* margin: 10px 0; */
}


/* ONBOARDING */
#onboarding .start {
  z-index: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, .8);
  border: none;
  height: 10%;
  width: 30%;
}

/* parallax */

.scene,
.layer {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.scene {
    min-height: 460px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
/* 
.layer img {
    width: 100%;
} */

.layer img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}