html,
body{
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #424242;
  color: white;
}

.hide {
  display: none;
  visibility: hidden;
}

@media (orientation: landscape) {
  .background-img img {
    /* horizontal */
    height: 100%;
    display: block;
    margin: auto;
  }
  .center-screen {
    top: 50% !important;
  }
}
/* desktop */
@media (min-width:1025px) {
  .background-img img {
    /* width: 100%; */
  }
}
@media (orientation: portrait) {
  .background-img img {
     width: 100%;
  }
  .center-screen {
    top: 20% !important;
  }
}

.center-screen {
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}


/* 
ONBOARDING
SCENARIOS
 */
 
 button {
  font-size: 24px;
  text-transform: uppercase;
  color: black;
  background-color: #e64a19;
  border: none;
  padding: 25px;
}
button.secondary {
  background-color: #ff7b47;
}
.skip {
  position: fixed;
  bottom: 0;
  right: 0;
}
 #onboarding, 
 #scenario1 {
   position: absolute;
   top: 0;
 }
 
.intermission {
  background-color: #424242;
  color: white;
  padding: 30px;
  width: 100%;
  height: 100%;
}
.intermission h1 {
  text-align: center;
  font-size: 39px;  
}
.intermission p {
  font-size: 28px;
  text-align: center;
  width: 80%;
  margin: 50px auto;
}
#instructions2.intermission p {
  margin: 0 auto;
  width: 97%;
}
#instructions2.intermission p.trigger-survey {
  font-style: italic;
  margin: 20px auto;
}
#instructions2.intermission p.trigger-survey:last-child {
  margin-bottom: 30px;
}
.intermission .button-container {
  width: 100%;
  margin-top: 10%;
  text-align: center;
}
.intermission .button-container button:first-child {
  margin-right: 35px;
}
#instructions2.intermission .button-container {
  margin-top: 5%;
}
 

/* PARALLAX */

.scene,
.layer {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.scene {
    min-height: 460px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.scene.hide {
  display: none;
}

.layer img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* MENU  */

#menu {
  color: #ffffff;
  width: 68%;
}
#menu #tns1-iw {
  margin-top: 115px;
}
#menu .menu-item {
  height: 100px;
  margin: 15px 0;
}
#menu .menu-item img {
  height: 100%;
}
#menu .center {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  transform-origin: left;
}

/* smartphones */
@media (min-width:320px) {
  #menu #tns1-iw {
    margin-top: 57px;
  }
  #menu .menu-item {
    height: 50px;
    margin: 7px 0;
  }
}

/* BADGE MENU */
.badge-menu {
  background-image: url('../assets/badgeMenu/background_all.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  width: 10%;
  height: 30%;
  position: fixed;
  top: 0;
  right: 0;
  margin: 5% 15% 0 0;
}
/* desktop */
@media (min-width:1025px) {
  .badge-menu {
    margin-right: 5%;
    height: 22%;
  }
}
@media (orientation: portrait) {
  .badge-menu {
    margin: 2% 6% 0 0;
    height: 10%;
  }
}

.badge-menu .badge-menu-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.badge-menu .badge-menu-item {
  height: 49%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-flex-item-align: center;
  align-items: center;

  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
}
.badge-menu .badge-menu-item {
  height: 44%;
  position: relative;
  background-image: none;
}

.badge-menu .badge-menu-item .badge-to {
  position: absolute;
  right: 161%;
  width: 1px;
  height: 1px;
  transform: scaleX(1) scaleY(1);
  transform-origin: right;
}
#badgeMenuOnboarding.badge-menu .badge-menu-item .badge-to {
  transform-origin: left;
  right: -20%;
}
.badge-menu .badge-menu-item .badge-to.to158,
.badge-menu .badge-menu-item .badge-to.to1 {
  top: 42px;
}
.badge-menu .badge-menu-item .badge-to.to6A,
.badge-menu .badge-menu-item .badge-to.to2 {
  top: 35px;
}

.badge-menu .badge-menu-item .number {
  margin-top: 7px;
}
.badge-menu .badge-menu-item.active {
  background-image: url('../assets/badgeMenu/active.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center 7px;
}


.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
.slide-out-158 {
  animation: slide-out-158 0.5s forwards;
  -webkit-animation: slide-out-158 0.5s forwards;
}
.slide-out-6A {
  animation: slide-out-6A 0.5s forwards;
  -webkit-animation: slide-out-6A 0.5s forwards;
}
    
/* 158 - W: 270px  H: 70px   */
@keyframes slide-out-158 {
  100% { transform: scaleX(270) scaleY(70); }
}
@-webkit-keyframes slide-out-158 {   
  100% { -webkit-transform: scaleX(270) scaleY(70); }
}

/* 6A - W: 230px  H: 65px   */
@keyframes slide-out-6A {
    100% { transform: scaleX(230) scaleY(65); }
}
@-webkit-keyframes slide-out-6A {   
    100% { -webkit-transform: scaleX(230) scaleY(65); }
}
    
@keyframes slide-in {
    100% { transform: scaleX(1) scaleY(1); }
}

@-webkit-keyframes slide-in {
    100% {-webkit-transform: scaleX(1) scaleY(1); }
}
